<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>

    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Data</th>
                <th>Url</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<noticias.length; i++){ %>
                <tr>
                    <td><%=noticias[i].dsTitulo%></td>
                    <td><%=noticias[i].Data%></td>
                    <td><%=noticias[i].urlNoticia%></td>
                    <td><%=noticias[i].categoria%></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>